*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(12, 23, 20)
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.iframe{
    height: 100vh;
    margin: auto;
}